@import url(https://fonts.googleapis.com/css?family=Oswald);
.al-background {
  background-image: url('../img/artist-bg.png'), url('../img/bg.jpg');
  background-size: cover;
  height: 100vh;
  width: 100vw;
  position: fixed;
}
.al-container {
  position: relative;
}
.al-container > .container {
  position: relative;
  max-width: 600px;
  margin: 0 auto;
}
.al-container > .container .gm-logo {
  text-align: center;
  display: block;
  margin: 0 auto;
  margin-bottom: 40px;
  margin-top: 50px;
}
.al-container > .container .artist-logo {
  text-align: center;
  display: block;
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 50px;
  width: 100%;
  max-width: 480px;
}
.form-group {
  position: relative;
  margin: 0 auto;
  max-width: 494px;
  margin-top: 18px;
  margin-bottom: 18px;
}
.form-group .al-ct-icon {
  width: 120px;
  position: absolute;
}
.form-group .al-ct-icon .input-icon {
  display: block;
  margin: 0 auto;
  margin-top: 22px;
}
.form-group .al-ct-icon .input-icon.mail-icon {
  margin-top: 28px;
}
.form-group .form-control {
  height: 86px;
  border-radius: 50px;
  background: transparent;
  border: 5px solid white !important;
  box-shadow: 0 0 0 0;
  outline: 0;
  font-size: 26px;
  color: #ffffff;
  padding-left: 130px;
  -webkit-appearance:none;
}
.form-group .form-control:focus,
.form-group .form-control:hover {
  background-color: rgba(0, 0, 0, 0.2);
  vertical-align: middle;
}
.form-group ::-webkit-input-placeholder {
  color: #ffffff;
  font: 26px verdana, arial, sans-serif;
  vertical-align: middle;
}
.form-group :-moz-placeholder {
  color: #ffffff;
  font: 26px verdana, arial, sans-serif;
  vertical-align: middle;
}
.form-group ::-moz-placeholder {
  color: #ffffff;
  font: 26px verdana, arial, sans-serif;
  vertical-align: middle;
}
.form-group :-ms-input-placeholder {
  color: #ffffff;
  font: 26px verdana, arial, sans-serif;
  vertical-align: middle;
}
.btn {
  display: block;
  margin: 0 auto;
  margin-top: 52px;
  margin-bottom: 25px;
  width: 100%;
  max-width: 488px;
  border-radius: 50px;
  height: 86px;
  background: #000000;
  color: #fbfdfd;
  font: 400 36px Oswald;
  text-transform: uppercase;
  border: 0 none;
}
.btn:hover,
.btn:focus {
  background: #000000;
  box-shadow: 0 0 0 0;
  border: 0 none;
  outline: 0;
}
.form-line {
  padding: 0px;
  max-width: 494px;
  margin: 0 auto;
}
.form-line-error,
.form-line-active {
  background: transparent!important;
}
.media-label {
  display: block;
  width: 100%;
  color: #fcfefe;
  font: 400 30px 'Myriad Pro';
  margin-bottom: 35px;
  margin-top: 35px;
}
.media-label2 {
  display: block;
  width: 100%;
  color: #fcfefe;
  font: 400 18px 'Myriad Pro';
  margin-bottom: -10px!important;
  margin-top: 25px;
}
.form-input {
  display: block!important;
}
.radio-container {
  display: block;
  margin: 0 auto;
  text-align: center;
}
.radio-container .form-radio-item {
  margin-left: 5px;
  margin-right: 5px;
  display: inline-block;
  float: none;
}
.radio-container .form-radio-item input {
  display: none;
}
.radio-container .form-radio-item input[type=radio]:not(old):checked + label:before {
  background-image: url(img/checkedRadio.png);
  background-size: cover;
}
.radio-container .form-radio-item label {
  color: #fcfefe;
  font: 400 30px 'Myriad Pro';
  text-transform: uppercase;
  padding-left: 55px;
  position: relative;
}
.radio-container .form-radio-item label:before {
  content: "";
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #ffffff;
  display: inline-block;
  position: absolute;
  left: 0px;
  top: -10px;
}
.radio-container .form-radio-item .form-radio {
  text-align: center;
}
.media-upload-label {
  text-align: center;
}
.media-upload-label .m-u-container {
  display: inline-block;
}
.media-upload-label .m-u-container label {
  cursor: pointer;
  text-align: center;
  margin-left: 30px;
  margin-right: 30px;
}
.media-upload-label .m-u-container label p {
  margin-top: 22px;
  color: #fcfefe;
  font: 400 30px 'Myriad Pro';
  text-align: center;
}
.photo-upload,
.video-upload {
  display: none!important;
}
.gm-logo {
  margin-bottom: 25px;
  margin-top: 45px;
}
.form-group .form-control {
  height: 44px;
  border: 3px solid white !important;
  font-size: 14px;
  color: #ffffff;
  padding-left: 80px;
}
.form-group .al-ct-icon {
  width: 80px;
  position: absolute;
}
.form-group .al-ct-icon .input-icon {
  height: 20px;
  margin-top: 12px;
}
.form-group .al-ct-icon .input-icon.mail-icon {
  margin-top: 12px;
}
.form-group ::-webkit-input-placeholder {
  color: #ffffff;
  font: 14px verdana, arial, sans-serif;
}
.form-group :-moz-placeholder {
  color: #ffffff;
  font: 14px verdana, arial, sans-serif;
}
.form-group ::-moz-placeholder {
  color: #ffffff;
  font: 14px verdana, arial, sans-serif;
}
.form-group :-ms-input-placeholder {
  color: #ffffff;
  font: 14px verdana, arial, sans-serif;
}
.btn {
  margin-top: 26px;
  margin-bottom: 26px;
  height: 44px;
  background: #000000;
  color: #fbfdfd;
  font: 400 14px Oswald;
}
.media-label {
  font: 400 20px 'Myriad Pro';
  margin-bottom: 25px;
  margin-top: 25px;
}
.radio-container .form-radio-item label {
  font: 400 20px 'Myriad Pro';
  padding-left: 30px;
}
.radio-container .form-radio-item label:before {
  width: 25px;
  height: 25px;
  left: 0px;
  top: -5px;
}
.media-upload-label .m-u-container label {
  margin-left: 15px;
  margin-right: 15px;
}
.media-upload-label .m-u-container label img {
  width: 60px;
}
.media-upload-label .m-u-container label p {
  color: #fcfefe;
  font: 400 20px 'Myriad Pro';
  text-align: center;
}