<nav class="navbar navbar-fixed-top">
  <div class="container">
    <div class="row">
      <div class="navbar-header-logo">
        <a class="navbar-brand">
          <img src="/img/logo.png" alt="gotMusic">
        </a>
      </div>
      <ul class="pull-right navbar__menu list-inline">
        <li class="artistInfo">
          <img class="artistInfo__image" src="{{ artistImg }}">
          <span>
            {{ artistName }}
          </span>
        </li>
        <li>
          <a href="/#/analytics/{{ formUrl }}">
              <img src="img/icons/msg.png">
          </a>
        </li>
        <li>
            <a href="javascript:void(0)" ng-click="logout()">
                <img src="img/icons/exit.png">
            </a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="stats">

  <div class="loadingSpin" ng-show="loading">
    CARREGANDO DADOS
    <img src="img/spinner.gif">
  </div>

  <div class="appStats row">
    <h3 class="stats__name">
      <p>Acessos no aplicativo</p>
      <div class="stats__name__image">
        <img src="./img/icons/phone.png">
      </div>
    </h3>


    <!-- CARD -->
    <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="stats__label">
            <p class="stats__label-desc">Real Time</p>
        </div>
      <div class="stats__statsCard">
        <div class="stats__statsCard__content">
          <p class="stats__statsCard__mainTxt">
            <img src="./img/icons/users.png">
            <span>{{ realtime }}</span>
          </p>
          <p class="stats__statsCard__subTxt">
            Usuários ativos no momento
          </p>
        </div>
      </div>
    </div>
    <!-- FIM -->

    <!-- CARD ->
    <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="stats__label">
            <p class="stats__label-desc">Push Notifications</p>
        </div>
      <div class="stats__statsCard">
        <div class="stats__statsCard__content">
          <p class="stats__statsCard__mainTxt">
            <img src="./img/icons/1envelope.png">
            <span>--</span>
          </p>
          <p class="stats__statsCard__subTxt">
            Mensagens abertas no último envio
          </p>
        </div>
      </div>
    </div>
    <!-- FIM -->

    <!-- CARD -->
    <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="stats__label">
            <p class="stats__label-desc">Pedidos de show in-app</p>
        </div>
      <div class="stats__statsCard">
        <div class="stats__statsCard__content">
          <p class="stats__statsCard__mainTxt">
            <img src="./img/icons/ticket.png">
            <span>{{ allShowRequests }}</span>
          </p>
          <div class="stats__exporters">
              <!-- div class="stats__exporters-content">
                  <div class="stats__exporters-img">
                      <img src="./img/icons/freddie_wink.png" alt="" />
                  </div>
                  <div class="stats__exporters-desc">
                      <p>Exportar <br>para Mailchimp</p>
                  </div>
              </div -->
              <a class="stats__exporters-content" href="https://docs.google.com/spreadsheets/d/{{spreadsheetID}}/pub?output=xls">
                  <div class="stats__exporters-img">
                      <img src="./img/icons/download-icon.png" alt="" />
                  </div>
                  <div class="stats__exporters-desc">
                      <p>Exportar no <br>formato XLS</p>
                  </div>
              </a>
          </div>
        </div>
      </div>
    </div>
    <!-- FIM -->

    <!-- CARD ->
    <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="stats__label">
            <p class="stats__label-desc">Top Cities</p>
        </div>
      <div class="stats__statsCard">
        <div class="stats__statsCard__content">
          <p class="stats__statsCard__mainTxt">
            <span></span>
          </p>
          <p class="stats__statsCard__subTxt">

          </p>
        </div>
      </div>
    </div>
    <!-- FIM -->

    <!-- CARD -->
    <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="stats__label">
            <p class="stats__label-desc">Downloads</p>
        </div>
      <div class="stats__statsCard">
        <div class="stats__statsCard__content">
          <p class="stats__statsCard__mainTxt">
            <span>{{ allDownloads }}</span>
          </p>
          <p class="stats__statsCard__subTxt">
            Total de downloads do app
          </p>
        </div>
      </div>
    </div>
    <!-- FIM -->

    <!-- CARD ->
    <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="stats__label">
            <p class="stats__label-desc">Instalados</p>
        </div>
      <div class="stats__statsCard">
        <div class="stats__statsCard__content">
          <p class="stats__statsCard__mainTxt">
            <img src="./img/icons/users.png">
            <span>--</span>
          </p>
          <p class="stats__statsCard__subTxt">
            Aplicativos instalados no momento
          </p>
        </div>
      </div>
    </div>
    <!-- FIM -->

  </div>

  <div class="webStats row">

    <h3 class="stats__name">
      <p>Visão geral na web (últimos 7 dias)</p>
      <span class="stats__name__image">
        <img src="./img/icons/globe.png">
      </span>
    </h3>

    <!-- NBS CARD -->
    <div class="col-md-3 col-sm-6 col-xs-12 NBS">
      <div class="NBS__info">
        <img src="./img/icons/users-white.png">
        <div class="NBS__content">
          <p class="NBS__mainTxt"><span>--%</span> --%</p>
          <p class="NBS__subTxt"><span>Feminino</span> / Masculino</p>
        </div>
      </div>
    </div>
    <!-- FIM -->
    <!-- NBS CARD -->
    <div class="col-md-3 col-sm-6 col-xs-12 NBS">
      <div class="NBS__info">
        <img src="./img/icons/youtube.png">
        <div class="NBS__content">
          <p class="NBS__mainTxt">{{ getLast(metricsArtist[3].Metric.plays) }}</p>
          <p class="NBS__subTxt">Youtube Detections</p>
        </div>
      </div>
    </div>
    <!-- FIM -->
    <!-- NBS CARD -->
    <div class="col-md-3 col-sm-6 col-xs-12 NBS">
      <div class="NBS__info">
        <img src="./img/icons/facebook.png">
        <div class="NBS__content">
          <p class="NBS__mainTxt">{{ getLast(metricsArtist[1].Metric.fans) }}</p>
          <p class="NBS__subTxt">Talking about this</p>
        </div>
      </div>
    </div>
    <!-- FIM -->
    <!-- NBS CARD -->
    <div class="col-md-3 col-sm-6 col-xs-12 NBS">
      <div class="NBS__info">
        <img src="./img/icons/twitter.png">
        <div class="NBS__content">
          <p class="NBS__mainTxt">{{ getLast(metricsArtist[2].Metric.mentions) }}</p>
          <p class="NBS__subTxt">Twitter mentions</p>
        </div>
      </div>
    </div>
    <!-- FIM -->

  </div>

</div>
