<div class="al-background">
   </div>
   <div class="al-container">
     <div class="container">
       <img class="gm-logo" src="./img/logo.png"/>
       <form class="form-login">
         <div class="form-group">
           <div class="al-ct-icon">
             <img  class="input-icon" src="./img/user.png"/>
           </div>
          <input type="text" placeholder="login" class="form-control" ng-model="login">
         </div>
         <div class="form-group">
           <div class="al-ct-icon">
             <img class="input-icon" src="./img/lock.png"/>
           </div>
           <input type="password" placeholder="senha" class="form-control" ng-model="password">
         </div>
         <buttom class="btn btn-success btn-block" ng-click="auth()">Login</buttom>

       </form>

     </div> <!-- /container -->
   </div>
