
// LEGADO _ LOGIN

@import url(https://fonts.googleapis.com/css?family=Oswald);

body {

}

.al-background{
  background-image: url('../img/artist-bg.png'), url('../img/bg.jpg');
  background-size: cover;
  height: 100vh;
  width: 100vw;
  position: fixed;
  left: 0;
}

.al-container{
  position: relative;


  & > .container{
    position: relative;


      max-width: 600px;
      margin: 0 auto;

      .gm-logo{
        text-align: center;
        display: block;
        margin: 0 auto;
        margin-bottom: 40px;
        margin-top: 50px;
      }

      .artist-logo{
        text-align: center;
        display: block;
        margin: 0 auto;
        margin-top: 50px;
        margin-bottom: 50px;
        width: 100%;
        max-width: 480px;
      }
  }

}

.form-group{
  @color : white;
  @font-size : 26px;
  position: relative;
  margin: 0 auto;
  max-width: 494px;
  margin-top: 18px;
  margin-bottom: 18px;

  .al-ct-icon{
    width: 120px;
    position: absolute;
    .input-icon{
      display: block;
      margin: 0 auto;
      margin-top: 22px;
      &.mail-icon{
        margin-top:28px;
      }
    }
  }

  .form-control{
    height: 86px;
    border-radius: 50px;
    background: transparent;
    border: 5px solid white !important;
    box-shadow: 0 0 0 0;
    outline: 0;
    font-size: @font-size;
    color: @color;


    padding-left: 130px;

    &:focus, &:hover{
      background-color: rgba(0,0,0,.2);
    }
  }

  ::-webkit-input-placeholder {
     color: @color;
     font: @font-size verdana, arial, sans-serif;
  }

  :-moz-placeholder {
     color: @color;
     font: @font-size verdana, arial, sans-serif;
  }

  ::-moz-placeholder {
     color: @color;
     font: @font-size verdana, arial, sans-serif;
  }

  :-ms-input-placeholder {
     color: @color;
     font: @font-size verdana, arial, sans-serif;
  }
}

.btn{
  display: block;
  margin: 0 auto;
  margin-top: 52px;
  margin-bottom: 25px;
  width: 100%;
  max-width: 488px;
  border-radius: 50px;
  height: 86px;
  background: #000000;
  color: #fbfdfd;
  font: 400 36px Oswald;
  text-transform: uppercase;
  border: 0 none;

  &:hover, &:focus{
    background: #000000;
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
  }
}

.form-line{
  padding: 0px;
  max-width: 494px;
  margin: 0 auto;
}

.form-line-error, .form-line-active{
  background: transparent!important;
}

.media-label{
  display: block;
  width: 100%;
  color: #fcfefe;
  font: 400 30px 'Myriad Pro';
  margin-bottom: 35px;
  margin-top: 35px;
}

.form-input{
  display: block!important;
}

.radio-container{
  display: block;
  margin: 0 auto;
  text-align: center;
  .form-radio-item{
    margin-left: 5px;
    margin-right: 5px;
    display: inline-block;
    float: none;

  input{
    display: none;
  }

  input[type=radio]:not(old):checked + label:before{
    background-image: url(img/checkedRadio.png);
    background-size: cover;
  }

  label{
    color: #fcfefe;
    font: 400 30px 'Myriad Pro';
    text-transform: uppercase;
    padding-left: 55px;
    position: relative;
    &:before{
      content: "";
      width: 50px;
      height: 50px;
      border-radius: 50%;
      background-color: #ffffff;
      display: inline-block;
      position: absolute;
      left: 0px;
      top: -10px;

    }
  }

  .form-radio{
    text-align: center;
  }
}
}

.media-upload-label{
  text-align: center;
  .m-u-container{
    display: inline-block;
    label{
      cursor: pointer;
      text-align: center;
      margin-left: 30px;
      margin-right: 30px;
      p{
        margin-top: 22px;
        color: #fcfefe;
        font: 400 30px 'Myriad Pro';
        text-align: center;
      }
    }
  }
}

.photo-upload, .video-upload{
  display: none!important;
}

//@media(max-width: 10000px){
  .gm-logo{
    margin-bottom: 25px;
    margin-top: 45px;
  }

  .form-group{
    @color : white;
    @font-size : 14px;

    .form-control{
      height: 44px;
      border: 3px solid white !important;
      font-size: @font-size;
      color: @color;
      padding-left: 80px;
    }

    .al-ct-icon{
      width: 80px;
      position: absolute;
      .input-icon{
        height: 20px;
        margin-top: 12px;
        &.mail-icon{
          margin-top:12px;
        }
      }
    }


    ::-webkit-input-placeholder {
     color: @color;
     font: @font-size verdana, arial, sans-serif;
    }

    :-moz-placeholder {
       color: @color;
       font: @font-size verdana, arial, sans-serif;
    }

    ::-moz-placeholder {
       color: @color;
       font: @font-size verdana, arial, sans-serif;
    }

    :-ms-input-placeholder {
       color: @color;
       font: @font-size verdana, arial, sans-serif;
    }

  }

  .btn{
    margin-top: 26px;
    margin-bottom: 26px;
    height: 44px;
    background: #000000;
    color: #fbfdfd;
    font: 400 14px Oswald;
  }

  .media-label{
    font: 400 20px 'Myriad Pro';
    margin-bottom: 25px;
    margin-top: 25px;
  }

  .radio-container{
    .form-radio-item{
      label{
        font: 400 20px 'Myriad Pro';
        padding-left: 30px;
        &:before{
          width: 25px;
          height: 25px;
          left: 0px;
          top: -5px;

        }
      }
    }
  }

  .media-upload-label{
    .m-u-container{
      label{
        margin-left: 15px;
        margin-right: 15px;
        img{
          width:60px;
        }
        p{
          color: #fcfefe;
          font: 400 20px 'Myriad Pro';
          text-align: center;
        }
      }
    }
  }
//}
