@import url(https://fonts.googleapis.com/css?family=Lato:400,700,900);
@import url('login.less');

@mainColor : #009ec6;
@main-txt-color : #ffffff;

body{
    color: #ffffff;
    font-family: Lato;
}

.stats{
    padding-top: 52px;
}

.row{
    margin: 0;
    padding: 0;
}

.fixed-bg{
    background-image: url(/img/main-background.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100vw;
    position: fixed;
    z-index: -1;
}

.navbar{
    margin-bottom: 0;
    height: 52px;
    background-color: @mainColor;
    border-radius: 0;
    .navbar-brand{
        padding: 0;
        padding-top: 5px;
        img {
            height: 40px;
        }
    }

    &__menu{
        margin: 0;
        & > li{
            line-height: 52px;
        }
    }

    .artistInfo{
        padding-right: 17px;
        display: none;
        @media( min-width: 400px ) {
            display: inline-block;
        }
        &__image{
            width: 37px;
            height: 36px;
            border: 1px @main-txt-color solid;
            border-radius: 50px;
            margin-right: 5px;
            margin-left: 5px;
        }
    }
}

.stats{
    &__label{
        display: table;
        width: 100%;
        &::after{
            display: table-cell;
            content: "";
            display: block;
            background-color: @mainColor;
            opacity: .5;
            height: 3px;
        }
        &::before{
            display: table-cell;
            content: "";
            display: block;
            background-color: @mainColor;
            opacity: .5;
            height: 3px;
        }
    }
    &__label-desc{
        display: table-cell;
        color: @mainColor;
        font-size: 14px;
        font-family: "Lato";
        text-align: center;
        font-weight: bold;
        width: 170px;
    }

    &__name{
        padding-left: 42px;
        position: relative;
        margin-bottom: 24px;
        margin-top: 30px;
        font: 400 18px / 32.605px Lato;

        &__image{
            display: inline-block;
            width: 42px;
            text-align: center;
            position: absolute;
            left: 0;
            top: 0;
        }
    }

    &__statsCard{
        margin-top: 12px;
        margin-bottom: 12px;
        min-height: 149px;
        width: 100%;
        background-color: rgba(255, 255, 255, 0.1);
        color: #ffffff;
        display: table;
        padding-bottom: 31px;
        position: relative;
        border-radius: 5px;
        &__content{
            text-align: center;
            margin-top: 20px;
            display: table-cell;
            vertical-align: middle;
        }
        &__mainTxt{
            font-size: 70px;
            line-height: 70px;
            margin: 0;
        }
        &__subTxt{
            font-size: 14px;
            margin: 0;
            margin-top: 10px;
        }
    }

    &__exporters {
        height: 31px;
        width: 100%;
        position: absolute;
        bottom: 0;
        border-radius: 5px;
        background-color: rgba(255, 255, 255, .1);
    }

    &__exporters-content{
        display: inline-block;
    }

    &__exporters-img{
        height: 31px;
        width: 36px;
        padding-top: 2px;
        border-radius: 5px;
        background-color: @mainColor;
        float: left;
    }

    &__exporters-desc{
        display: table;
        height: 31px;
        p{
            display: table-cell;
            margin: 0;
            text-align: left;
            font-size: 12px;
            font-family: "Lato";
            color: #b8b8b8;
            line-height: 1.05;
            vertical-align: middle;
            padding-left: 5px;
            padding-right: 5px;
        }
    }


.NBS{
    &__info{
        line-height: 60px;
        min-height: 60px;
        text-align: center;
        img{
            vertical-align: top;
            margin-top: 8px;
            margin-right: 10px;
        }
    }
    &__content{
        display: inline-block;
        span{
            color: @mainColor;
        }
    }
    &__mainTxt{
        color: #ffffff;
        font: 700 34px / 32.605px Lato;
        margin-bottom: 5px;
    }
    &__subTxt{
        color: #ffffff;
        font: 400 11px / 32.605px Lato;
    }
}
}
